In [1]:
import pandas as pd

In [2]:
df_forbeslist_gdp = pd.read_parquet(f'../data/processed/forbeslist_gdp.parquet')

df_forbeslist_gdp.head()

,name,worth_amount_(BUSD),country,company_sector,company_name,age,GDP_BUSD,GDP_per_capita_USD
0,Jeff Bezos,112.0,United States,Technology,Amazon,54.0,20494100.0,62641.0
1,Bill Gates,90.0,United States,Technology,Microsoft,62.0,20494100.0,62641.0
2,Warren Buffett,84.0,United States,Finance and Investments,Berkshire Hathaway,87.0,20494100.0,62641.0
3,Mark Zuckerberg,71.0,United States,Technology,Facebook,33.0,20494100.0,62641.0
4,Charles Koch,60.0,United States,Diversified,Koch Industries,82.0,20494100.0,62641.0

In [3]:
#5 richest people of the list given the country.

def richest_people(dataframe, country):
    filter_country = dataframe['country'] == country
    result = dataframe[filter_country].nlargest(5, 'worth_amount_(BUSD)')
    return result

In [4]:
richest_people(df_forbeslist_gdp, 'China')

,name,worth_amount_(BUSD),country,company_sector,company_name,age,GDP_BUSD,GDP_per_capita_USD
279,Ma Huateng,45.3,China,Technology,internet media,46.0,13608200.0,9771.0
280,He Xiangjian,20.1,China,Manufacturing,home appliances,75.0,13608200.0,9771.0
281,William Ding,17.4,China,Technology,online games,46.0,13608200.0,9771.0
282,Robin Li,12.0,China,Technology,internet search,49.0,13608200.0,9771.0
283,Wang Wenyin,11.7,China,Metals & Mining,"mining, copper products",50.0,13608200.0,9771.0

In [5]:
#country gdp compared to the average world's gdp

def country_gdp(dataframe, country):
    filter_country = df_forbeslist_gdp['country'] == country
    gdp_country_array = df_forbeslist_gdp[filter_country]['GDP_BUSD'].unique()
    gdp_country = gdp_country_array[0]
    gdp_unique = dataframe['GDP_BUSD'].unique()
    gdp_mean = round(gdp_unique.mean(), 1)
    return gdp_country, gdp_mean

In [6]:
country_gdp(df_forbeslist_gdp, 'France')

(2777540.0, 1423208.4)

In [7]:
#gdp per capita compare to the average world's gdp per capita

def gdp_per_capita(dataframe, country):
    filter_country = df_forbeslist_gdp['country'] == country
    gdp_percapita_array = df_forbeslist_gdp[filter_country]['GDP_per_capita_USD'].unique()
    gdp_percapita = gdp_percapita_array[0]
    gdp_percapita_unique = dataframe['GDP_per_capita_USD'].unique()
    gdp_percapita_mean = round(gdp_percapita_unique.mean(), 1)
    return gdp_percapita, gdp_percapita_mean

In [8]:
gdp_per_capita(df_forbeslist_gdp, 'China')

(9771.0, 29882.8)