In [1]:
import json
import requests
import pandas as pd

In [15]:
response = requests.get(' http://api.worldbank.org/V2/country?incomeLevel=LIC&format=json')

In [19]:
results = response.json()

In [22]:
data = pd.DataFrame(response)
data.head()

                                                   0
0  b'[{"page":1,"pages":1,"per_page":"50","total"...
1  b'e":"8S","value":"South Asia"},"adminregion":...
2  b'e":"XM","value":"Low income"},"lendingType":...
3  b'1","latitude":"34.5228"},{"id":"BDI","iso2Co...
4  b'Africa "},"adminregion":{"id":"SSA","iso2cod...

In [25]:
pd.read_html('http://statisticstimes.com/economy/gdp-indicators-2018.php')

[        0            1
 0  Source   World Bank
 1    Date  03 Nov 2019,
             Country/Economy GDP 2018 (billions of $)                           \
             Country/Economy                  Nominal   Rank        PPP Rank.1
 0             United States                 20494100    1.0   20494100    2.0
 1                     China                 13608200    2.0   25361700    1.0
 2                     Japan                  4970920    3.0    5484950    4.0
 3                   Germany                  3996760    4.0    4505240    5.0
 4            United Kingdom                  2825210    5.0    3074430    9.0
 ..                      ...                      ...    ...        ...    ...
 213    Syrian Arab Republic                        -  214.0          -  214.0
 214           Venezuela, RB                        -  215.0          -  215.0
 215  British Virgin Islands                        -  216.0          -  216.0
 216   Virgin Islands (U.S.)                        -  217.0          -  217.0
 217                   World                 85790800    NaN  136477000    NaN

     GDP per capita 2018 ($)                      GDP Growth (%)
                     Nominal   Rank    PPP Rank.1           2018   Rank
 0                     62641    9.0  62641   12.0          2.857  102.0
 1                      9771   68.0  18210   65.0          6.600   16.0
 2                     39287   26.0  43349   27.0          0.788  166.0
 3                     48196   17.0  54327   18.0          1.425  151.0
 4                     42491   21.0  46240   25.0          1.398  156.0
 ..                      ...    ...    ...    ...            ...    ...
 213                       -  214.0      -  214.0              -  214.0
 214                       -  215.0      -  215.0              -  215.0
 215                       -  216.0      -  216.0              -  216.0
 216                       -  217.0      -  217.0              -  217.0
 217                   11297    NaN  17971    NaN          3.035    NaN

 [218 rows x 11 columns]]