In [1]:
import pandas as pd

In [2]:
gdp_data = pd.read_html('http://statisticstimes.com/economy/gdp-indicators-2018.php')

In [3]:
gdp_dataset = gdp_data[1]

In [4]:
gdp_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 11 columns):
(Country/Economy, Country/Economy)     218 non-null object
(GDP 2018 (billions of $), Nominal)    218 non-null object
(GDP 2018 (billions of $), Rank)       217 non-null float64
(GDP 2018 (billions of $), PPP)        218 non-null object
(GDP 2018 (billions of $), Rank.1)     217 non-null float64
(GDP per capita 2018 ($), Nominal)     218 non-null object
(GDP per capita 2018 ($), Rank)        217 non-null float64
(GDP per capita 2018 ($), PPP)         218 non-null object
(GDP per capita 2018 ($), Rank.1)      217 non-null float64
(GDP Growth (%), 2018)                 218 non-null object
(GDP Growth (%), Rank)                 217 non-null float64
dtypes: float64(5), object(6)
memory usage: 18.9+ KB

In [5]:
gdp_dataset['GDP_BUSD'] = gdp_dataset['GDP 2018 (billions of $)']['Nominal']

In [6]:
gdp_dataset['GDP_per_capita_USD'] = gdp_dataset['GDP per capita 2018 ($)']['Nominal']

In [7]:
gdp_dataset['country'] = gdp_dataset['Country/Economy']['Country/Economy']

In [8]:
columns = ['country','GDP_BUSD', 'GDP_per_capita_USD']

In [9]:
gdp_dataset_cleaned = gdp_dataset[columns]
gdp_dataset_cleaned

                    country  GDP_BUSD GDP_per_capita_USD

0             United States  20494100              62641
1                     China  13608200               9771
2                     Japan   4970920              39287
3                   Germany   3996760              48196
4            United Kingdom   2825210              42491
..                      ...       ...                ...
213    Syrian Arab Republic         -                  -
214           Venezuela, RB         -                  -
215  British Virgin Islands         -                  -
216   Virgin Islands (U.S.)         -                  -
217                   World  85790800              11297

[218 rows x 3 columns]